$tabnav-border: #ddd;
$nav-item: #a6a6a6;
$nav-item-selected: #2898cd;
$selected-notch: rgba(0, 0, 0, .5);
$white: #fff;

#content-nav {
    height: 100px;
}

.content-nav-item {
    position: relative;
    float: left;
    border-right: 1px solid $tabnav-border;
    border-bottom: 1px solid $tabnav-border;
    cursor: pointer;
    width: 33.23%;
    color: $nav-item;
}

.content-nav-item-selected > .content-nav-item {
    color: $nav-item-selected;
}

#content-nav a:last-child .content-nav-item {
    border-right: none;
}

.content-nav-item-selected .content-nav-item::before, .content-nav-item-selected .content-nav-item::after {

    position: absolute;
    top: 100%;
    left: 145px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    content: "";
}

.content-nav-item-selected .content-nav-item:before {
    border-top: 10px solid $tabnav-border;
    border-top: 10px solid $selected-notch;
}

.content-nav-item-selected .content-nav-item:after{
    z-index: 1;
    border-top: 10px solid $white;
}

.content-nav-item-icon {
    float: left;
    margin-top: 11px;
    margin-left: 20px;
    width: 77px;
    height: 77px;
}

.content-nav-item-description {
    float: left;
    margin-left: 20px;
    line-height: 100px;
    font-size: 14pt;
}
