.guide-button {
	font-family: "Lucida Grande", arial, sans-serif;
	border-radius: 50%;
	position: absolute;
	border: 1px solid #808080;
	width: 32px;
	height: 32px;
	text-align: center;
	cursor: pointer;
	z-index: 100;
}

.guide-button-text {
	padding: 7px;
}

.guide-button-selected {
	border: 1px solid #2898CD;
	background-color: #2898CD;
	color: white;
}
