#content {
	background-color: white;
	width: 900px;
	margin: auto;
	height: 800px;
}

#content-nav {
	height: 78px;
}

.content-nav-item {
	color: #808080;
}

.content-nav-item-selected {
	color: #2898CD;
}

.content-nav-item-left {
	width: 299px;
	float: left;
	border-bottom: 1px solid #808080;
}

.content-nav-item-middle {
	width: 299px;
	float: left;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
}

.content-nav-item-right {
	width: 300px;
	float: left;
	border-bottom: 1px solid #808080;
}

.content-nav-item-icon {
	width: 77px;
	height: 77px;
	float: left;
}

.content-nav-item-description {
	float: left;
	margin-top: 28.5px;
	margin-left: 10px;
	font-size: 16pt;
}

#content-instructions {
	color: #808080;
	margin-left: 21px;
	margin-top: 20px;
	height: 130px;
}

#key {
	width: 225px;
	height: 472px;
	float: left;
	margin-left: 10px;
	border: 1px solid #e5e5e5;
}

#key-header {
	font-size: 14pt;
	padding-top: 10px;
	padding-left: 10px;
	height: 31px;
	color: #2898CD;
	background-color: #e5e5e5;
}

#key-description {
	color: #808080;
	line-height: 24px;
	padding-top: 10px;
	font-size: 10pt;
	margin-right: 5px;
	margin-left: 10px;
}

/* Guide Elements */

.interface-dot {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: #333333;
	position: absolute;
	margin-left: 21px;
}

.interface-vertical-line {
	border-left: 1px solid black;
	position: absolute;
}

.interface-horizontal-line {
	border-top: 1px solid black;
	position: absolute;
}

.interface-button {
	font-family: helvetica;
	border-radius: 50%;
	position: absolute;
	border: 1px solid #808080;
	width: 32px;
	height: 32px;
	text-align: center;
	cursor: pointer;
}

.interface-button-text {
	padding: 7px;
}

.interface-button-selected {
	border: 1px solid #2898CD;
	color: #2898CD;
}

/* Guide 1 - Interface Guide */

/* 1. Save */

#interface-button-save {
	left: 67px;
	top: -54px;
}

#interface-vertical-line-save {
	height: 27px;
	top: -20px;
	left: 83px;
}

#interface-dot-save {
	top: 7px;
	left: 60px;
}

/* 2. Stage */

#interface-button-stage {
	left: 160px;
	top: -54px;
}

#interface-vertical-line-stage-1 {
	height: 175px;
	top: -20px;
	left: 177px;
}

#interface-horizontal-line-stage-1 {
	width: 20px;
	top: 155px;
	left: 177px;
}

#interface-vertical-line-stage-2 {
	height: 221px;
	top: 47px;
	left: 197px;
}

#interface-horizontal-line-stage-2 {
	width: 9px;
	top: 47px;
	left: 197px;
}

#interface-horizontal-line-stage-3 {
	width: 9px;
	top: 268px;
	left: 197px;
}

/* 3. Presentation Mode */

#interface-button-presentation-mode {
	left: 206px;
	top: -54px;
}

#interface-vertical-line-presentation-mode {
	height: 28px;
	top: -20px;
	left: 223px;
}

#interface-dot-presentation-mode {
	top: 8px;
	left: 200px;
}

/* 4. Grid */

#interface-button-grid {
	left: 248px;
	top: -54px;
}

#interface-vertical-line-grid {
	height: 28px;
	top: -20px;
	left: 264px;
}

#interface-dot-grid {
	top: 8px;
	left: 241px;
}

/* 5. Add Text */

#interface-button-add-text {
	left: 318px;
	top: -54px;
}

#interface-vertical-line-add-text {
	height: 27px;
	top: -20px;
	left: 335px;
}

#interface-dot-add-text {
	top: 7px;
	left: 312px;
}

/* 6. Change Background */

#interface-button-change-background {
	left: 359px;
	top: -54px;
}

#interface-vertical-line-change-background {
	height: 28px;
	top: -20px;
	left: 375px;
}

#interface-dot-change-background {
	top: 8px;
	left: 352px;
}

/* 7. Reset Characters */

#interface-button-reset-characters {
	left: 434px;
	top: -54px;
}

#interface-vertical-line-reset-characters {
	height: 26px;
	top: -20px;
	left: 450px;
}

#interface-dot-reset-characters {
	top: 6px;
	left: 427px;
}

/* 8. Green Flag */

#interface-button-green-flag {
	left: 475px;
	top: -54px;
}

#interface-vertical-line-green-flag {
	height: 26px;
	top: -20px;
	left: 491px;
}

#interface-dot-green-flag {
	top: 6px;
	left: 468px;
}

/* 9. Pages */

#interface-button-pages {
	left: 557px;
	top: -54px;
}

#interface-vertical-line-pages {
	height: 30px;
	top: -20px;
	left: 574px;
}

#interface-dot-pages {
	top: 10px;
	left: 551px;
}
   
/* 10. Project Information */

#interface-button-project-information {
	left: 622px;
	top: -54px;
}

#interface-vertical-line-project-information {
	height: 28px;
	top: -20px;
	left: 638px;
}

#interface-dot-project-information {
	top: 8px;
	left: 615px;
}   

/* 16. Characters */

#interface-button-characters {
	left: 54px;
	top: 493px;
}

#interface-vertical-line-characters-1 {
	height: 13px;
	top: 230px;
	left: 27px;
}

#interface-vertical-line-characters-3 {
	height: 13px;
	top: 230px;
	left: 174px;
}

#interface-horizontal-line-characters {
	width: 148px;
	top: 243px;
	left: 27px;
}

#interface-vertical-line-characters-2 {
	height: 250px;
	top: 243px;
	left: 70px;
}

/* 15. Block Categories */

#interface-button-block-categories {
	left: 103px;
	top: 493px;
}

#interface-vertical-line-block-categories-1 {
	height: 10px;
	top: 332px;
	left: 27px;
}

#interface-vertical-line-block-categories-3 {
	height: 10px;
	top: 332px;
	left: 230px;
}

#interface-horizontal-line-block-categories {
	width: 204px;
	top: 342px;
	left: 27px;
}

#interface-vertical-line-block-categories-2 {
	height: 151px;
	top: 342px;
	left: 120px;
}

/* 14. Block Palette */

#interface-button-block-palette {
	left: 314px;
	top: 493px;
}

#interface-vertical-line-blocks-palette-1 {
	height: 10px;
	top: 332px;
	left: 242px;
}

#interface-vertical-line-blocks-palette-3 {
	height: 10px;
	top: 332px;
	left: 572px;
}

#interface-horizontal-line-blocks-palette {
	width: 331px;
	top: 342px;
	left: 242px;
}

#interface-vertical-line-blocks-palette-2 {
	height: 151px;
	top: 342px;
	left: 330px;
}

/* 13. Programming Area */

#interface-button-programming-area {
	left: 377px;
	top: 493px;
}

#interface-vertical-line-programming-area {
	height: 43px;
	top: 450px;
	left: 393px;
}

#interface-dot-programming-area {
	top: 450px;
	left: 370px;
}

/* 12. Programming Script */

#interface-button-programming-script {
	left: 439px;
	top: 493px;
}

#interface-vertical-line-programming-script-1 {
	height: 10px;
	top: 417px;
	left: 358px;
}

#interface-vertical-line-programming-script-3 {
	height: 10px;
	top: 417px;
	left: 533px;
}

#interface-horizontal-line-programming-script {
	width: 176px;
	top: 427px;
	left: 358px;
}

#interface-vertical-line-programming-script-2 {
	height: 66px;
	top: 427px;
	left: 455px;
}

/* 11. Undo Redo */

#interface-button-undo-redo {
	left: 599px;
	top: 493px;
}

#interface-vertical-line-undo-redo-1 {
	height: 10px;
	top: 327px;
	left: 588px;
}

#interface-vertical-line-undo-redo-3 {
	height: 10px;
	top: 327px;
	left: 645px;
}

#interface-horizontal-line-undo-redo {
	width: 58px;
	top: 337px;
	left: 588px;
}

#interface-vertical-line-undo-redo-2 {
	height: 156px;
	top: 337px;
	left: 615px;
}

/* End Guide 1 - Interface Guide */

/* Guide 2 - Paint Editor Guide */

.paint-button {
	font-family: helvetica;
	border-radius: 50%;
	position: absolute;
	border: 1px solid #808080;
	width: 32px;
	height: 32px;
	text-align: center;
	cursor: pointer;
}

.paint-dot {
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: #333333;
	position: absolute;
}

.paint-vertical-line {
	border-left: 1px solid black;
	position: absolute;
}

.paint-horizontal-line {
	border-top: 1px solid black;
	position: absolute;
}

.paint-button-text {
	padding: 7px;
}

.paint-button-selected {
	border: 1px solid #2898CD;
	color: #2898CD;
}

/* 1. Undo */

#paint-button-undo {
	left: 32px;
	top: -54px;
}

#paint-vertical-line-undo {
	height: 27px;
	top: -20px;
	left: 49px;
}

#paint-dot-undo {
	top: 7px;
	left: 47px;
}

/* 2. Redo */

#paint-button-redo {
	left: 83px;
	top: -54px;
}

#paint-vertical-line-redo {
	height: 27px;
	top: -20px;
	left: 100px;
}

#paint-dot-redo {
	top: 7px;
	left: 98px;
}

/* 3. Select Shape */

#paint-button-select-shape {
	left: 130px;
	top: -54px;
}

#paint-vertical-line-select-shape-1 {
	height: 160px;
	top: -20px;
	left: 146px;
}

#paint-horizontal-line-select-shape-1 {
	width: 75px;
	top: 140px;
	left: 72px;
}

#paint-vertical-line-select-shape-2 {
	height: 145px;
	top: 70px;
	left: 72px;
}

#paint-horizontal-line-select-shape-2 {
	width: 10px;
	top: 70px;
	left: 62px;
}

#paint-horizontal-line-select-shape-3 {
	width: 11px;
	top: 215px;
	left: 62px;
}

/* 4. Character Name */

#paint-button-character-name {
	left: 323px;
	top: -54px;
}

#paint-vertical-line-character-name {
	height: 27px;
	top: -20px;
	left: 340px;
}

#paint-dot-character-name {
	top: 7px;
	left: 338px;
}

/* 5. Cut */

#paint-button-cut {
	left: 406px;
	top: -54px;
}

#paint-vertical-line-cut {
	height: 306px;
	top: -20px;
	left: 422px;
}

#paint-horizontal-line-cut {
	width: 180px;
	top: 286px;
	left: 422px;
}

#paint-dot-cut {
	left: 602px;
	top: 284px;
}

/* 6. Duplicate */

#paint-button-duplicate {
	left: 486px;
	top: -54px;
}

#paint-vertical-line-duplicate {
	height: 271px;
	top: -20px;
	left: 502px;
}

#paint-horizontal-line-duplicate {
	width: 100px;
	top: 251px;
	left: 502px;
}

#paint-dot-duplicate {
	left: 602px;
	top: 249px;
}

/* 7. Rotate */

#paint-button-rotate {
	left: 526px;
	top: -54px;
}

#paint-vertical-line-rotate {
	height: 222px;
	top: -20px;
	left: 542px;
}

#paint-horizontal-line-rotate {
	width: 60px;
	top: 202px;
	left: 542px;
}

#paint-dot-rotate {
	left: 602px;
	top: 200px;
}

/* 8. Drag */

#paint-button-drag {
	left: 566px;
	top: -54px;
}

#paint-vertical-line-drag {
	height: 185px;
	top: -20px;
	left: 582px;
}

#paint-horizontal-line-drag {
	width: 22px;
	top: 164px;
	left: 582px;
}

#paint-dot-drag {
	left: 602px;
	top: 162px;
}

/* 9. Save */

#paint-button-save {
	left: 608px;
	top: -54px;
}

#paint-vertical-line-save {
	height: 27px;
	top: -20px;
	left: 625px;
}

#paint-dot-save {
	top: 7px;
	left: 623px;
}

/* 10. Fill */

#paint-button-fill {
	left: 575px;
	top: 497px;
}

#paint-vertical-line-fill {
	height: 121px;
	top: 377px;
	left: 591px;
}

#paint-horizontal-line-fill {
	width: 13px;
	top: 377px;
	left: 591px;
}

#paint-dot-fill {
	left: 602px;
	top: 375px;
}

/* 11. Camera */

#paint-button-camera {
	left: 535px;
	top: 497px;
}

#paint-vertical-line-camera {
	height: 160px;
	top: 338px;
	left: 551px;
}

#paint-horizontal-line-camera {
	width: 52px;
	top: 338px;
	left: 551px;
}

#paint-dot-camera {
	left: 602px;
	top: 336px;
}

/* 12. Select Color */

#paint-button-select-color {
	left: 319px;
	top: 497px;
}

#paint-vertical-line-select-color-1 {
	height: 32px;
	top: 466px;
	left: 335px;
}

#paint-horizontal-line-select-color-1 {
	width: 614px;
	top: 466px;
	left: 27px;
}

#paint-vertical-line-select-color-2 {
	height: 11px;
	top: 455px;
	left: 27px;
}

#paint-vertical-line-select-color-3 {
	height: 11px;
	top: 455px;
	left: 640px;
}

/* 13. Line Size */

#paint-button-select-line-size {
	left: 135px;
	top: 497px;
}

#paint-vertical-line-select-line-size-1 {
	height: 187px;
	top: 310px;
	left: 151px;
}

#paint-horizontal-line-select-line-size-1 {
	width: 79px;
	top: 310px;
	left: 73px;
}

#paint-vertical-line-select-line-size-2 {
	height: 145px;
	top: 240px;
	left: 73px;
}

#paint-horizontal-line-select-line-size-2 {
	width: 10px;
	top: 240px;
	left: 63px;
}

#paint-horizontal-line-select-line-size-3 {
	width: 11px;
	top: 385px;
	left: 63px;
}

/* End Guide 2 - Paint Editor Guide */

#ipad-project-view-wrapper {
	position: relative;
}

.learn-tab {
	display: none;
}

.learn-tab-selected {
	display: inline;
}

.ipad-project-view {
	margin-left: 21px;
	width: 629px;
	float: left;
}