body {
	margin: 0;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	background-color: #3099C9;
}

#header {
	width: 900px;
	height: 58px;
	margin: auto;
}

#header-logo {
	margin-top: 5.5px;
	margin-bottom: 5.5px;
	margin-left: 28px;
	height: 47px;
	width: 163px;
	float: left;
}

#header-nav {
	float: right;
}

.header-nav-item {
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	letter-spacing: 1px;
	color: white;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 23px;
}

#footer {
	width: 900px;
	height: 58px;
	margin: auto;
	background-color: white;
}

#footer-nav {
	float: right;
}

.footer-nav-item {
	color: #808080;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 23px;
	padding-bottom: 23px;
}