#content {
	background-color: white;
	width: 900px;
	margin: auto;
	display: block;
	overflow: auto;
}

#video-wrapper {
	padding-top: 40px;
	margin-left: 120px;
	margin-right: 120px;
}

#content-description {
	padding-top: 40px;
	margin-left: 120px;
	margin-right: 120px;
}

.content-description-question {
	margin-bottom: 20px;
	color: #2898CD;
	background-color: #e5e5e5;
	padding: 14px;
	width: 612px;
}

.content-description-answer {
	margin-bottom: 20px;
	color: #808080;
	line-height: 22px;
	font-size: 14px;
}

a:link {
	color: #2898CD;
}

a:visited {
	color: #2898CD;
}