#content {
	background-color: white;
	width: 900px;
	margin: auto;
	display: block;
	overflow: auto;
}

h1 {
	margin-left: 35px;
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 28px;
	color: #f5a322;
}

.content-animated {
	display: none;
	clear: both;
	padding-top: 20px;
	color: #808080;
	font-size: 14px;
	line-height: 22px;
	padding-bottom: 30px;
}

.content-tapit {
	display: none;
	clear: both;
	padding-top: 20px;
	color: #808080;
	font-size: 14px;
	line-height: 22px;
	padding-bottom: 30px;
}
.content-section {
	display: none;
}

.content-section-selected {
	padding-top: 3px;
	margin-left: 70px;
	margin-right: 70px;
	clear: both;
	display: block;
	padding-bottom: 3px;
}

.content-section-title {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #999;
	width: 612px;
	font-size: 32px;
	width: 100%;
	text-align: center;
	letter-spacing: 0.5px;
}

.content-section-description {
	color: #808080;
	font-size: 14px;
	line-height: 22px;
	padding-bottom: 20px;
	font-size: 16px;
	line-height: 28px;
	width: 100%;
	text-align: center;

}

#video-wrapper {
	padding-top: 40px;
        text-align: center;
}

#content-description {
	margin-left: 35px;
	margin-right: 35px;
}

.content-description-highlight {
	border-radius: 10px;
	border: 1px solid #ddd;
	background-color: #efefef;
	padding: 15px;
}

.content-description-section {
	margin-bottom: 35px;
	display: block;
	overflow: auto;
}

.content-description-question {
	margin-bottom: 10px;
	color: #2898CD;
	width: 612px;
	font-size: 20px;
	font-weight: bold;
}

.content-description-answer {
	margin-bottom: 20px;
	color: #808080;
	line-height: 22px;
	font-size: 15px;
}

a:link {
	color: #2898CD;
}

a:visited {
	color: #2898CD;
}

/* SUBMENUS */

.content-nav-item {
  width: 24.9% !important;
}

.info-icon {
	background-image: url(../images/infos_b.svg);
	background-size: 100%;
}

.content-nav-item-selected  > .info-icon {
	background-image: url(../images/infos_o.svg);
}

.press-icon {
	background-image: url(../images/press_b.svg);
	background-size: 100%;
}

.content-nav-item-selected  > .press-icon {
	background-image: url(../images/press_o.svg);
}

.videos-icon {
	background-image: url(../images/videos_b.svg);
	background-size: 100%;
}

.content-nav-item-selected  > .videos-icon {
	background-image: url(../images/videos_o.svg);
}

.faq-icon {
	background-image: url(../images/faq_b.svg);
	background-size: 100%;
}

.content-nav-item-selected  > .faq-icon {
	background-image: url(../images/faq_o.svg);
}

