#content {
	background-color: white;
	width: 900px;
	margin: auto;
	height: 1350px;
}

#video-wrapper {
	padding-top: 40px;
	margin-left: 120px;
	margin-right: 120px;
}

#content-description {
	padding-top: 40px;
	margin-left: 120px;
	margin-right: 120px;
}

.content-description-question {
	font-weight: 900;
	margin-bottom: 20px;
}

.content-description-answer {
	margin-bottom: 20px;
}