#content {
	background-color: white;
	width: 900px;
	margin: auto;
	display: block;
	overflow: auto;
}

h1 {
	margin-left: 35px;
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 28px;
	color: #f5a322;
}

p {
	margin-left: 35px;
	margin-right: 35px;
	color: #808080;
	line-height: 22px;
	font-size: 15px;
}

.donation-block {
	text-align: center;
	display: block;
	margin-bottom: 20px;
}

#donateForm {
	display: inline-block;
	color: #808080;
	line-height: 22px;
	font-size: 15px;
}

#donateForm > input {
	width: 75px;
	line-height: 22px;
	font-size: 15px;
}

#donate-button {
	display: inline-block;
	vertical-align: bottom;
}
