body {
	margin: 0;
	font-family: "Lucida Grande", arial, sans-serif;
	background-color: #3099C9;
}

#header {
	width: 900px;
	height: 58px;
	margin: auto;
}

#header-logo {
	margin-top: 5.5px;
	margin-bottom: 5.5px;
	margin-left: 28px;
	height: 47px;
	width: 163px;
	float: left;
}

#header-nav {
	float: right;
	position: relative;
}

.header-nav-item-wrapper {
	float: left;
}

.header-nav-item {
	font-family: "Lucida Grande", arial, sans-serif;
	letter-spacing: 1px;
	color: white;
	float: left;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 23px;
	height: 35px;
}

.header-nav-item-selected {
	background-color: #0A7199;
}

#content-nav {
	height: 100px;
}


.content-nav-item {
	color: #a6a6a6;
	width: 33.23%;
	float: left;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	position: relative;
	cursor:pointer;
}

.content-nav-item-selected {
	color: #2898CD;
}

.content-nav-item-selected:before, .content-nav-item-selected:after {
	content: "";
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	top: 100%;
	left: 145px;
}

.content-nav-item-selected:before {
	border-top: 10px solid #DDD;
	border-top: 10px solid rgba(0, 0, 0, 0.5);
}

.content-nav-item-selected:after{
	border-top: 10px solid #FFF;
	z-index: 1;
}


.content-nav-item-right{
	border-right: none;
}

.content-nav-item-icon {
	width: 77px;
	height: 77px;
	float: left;
	margin-left: 20px;
	margin-top: 11px;
}

.content-nav-item-description {
	float: left;
	line-height: 100px;
	margin-left: 20px;
	font-size: 14pt;
}

.content-section {
	min-height: 450px;
}

#footer {
	width: 900px;
	margin: auto;
	height: 115px;
	background-color: #f6f6f6;
	margin-bottom: 100px;
	color: #333;
}

#footer-nav {
	padding-top: 10px;
	padding-left: 10px;
	margin-right: 30px;
	display: inline-block;
	text-align: justify;
}

#footer-nav > a {
	display: inline-block;
}

.blue-button {
	color: #fff;
	background-color: #3099C9;
	font-size: 11pt;
	display: inline-block;
	border-radius: 5px;
	border-bottom: solid 3px;
	border-color: #227da9;
	padding: 7px 12px;
}

#footer-text {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-left: 30px;
	width: 63%;
	font-size: 10pt;
	line-height: 16pt;
	display: inline-block;
}

.footer-links {
	display: block;
	text-align: center;
}

.footer-links a {
	text-decoration: none;
	color: #fff !important;
}

#footer-social {
	display: inline-block;
	margin-top: 20px;
}

/*
** social media icons for scratchJr from IcoMoon.io
*/
@font-face {
	font-family: 'scratchjr-icons';
	src:url('../fonts/scratchjr-icons.eot?-fdpk63');
	src:url('../fonts/scratchjr-icons.eot?#iefix-fdpk63') format('embedded-opentype'),
		url('../fonts/scratchjr-icons.woff?-fdpk63') format('woff'),
		url('../fonts/scratchjr-icons.ttf?-fdpk63') format('truetype'),
		url('../fonts/scratchjr-icons.svg?-fdpk63#scratchjr-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="sjr-icon-"], [class*=" sjr-icon-"] {
	font-family: 'scratchjr-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#social-links {
	margin-left: 173px;
}

#social-links .social-link {
	display: block;
	float: left;
	margin-right: 18px;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.social-link:visited {
	color: #ffffff;
}
.sjr-icon-twitter:before {
	content: "\ea91";
	background-color: #55acee;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 1.1em;
	line-height: 1.75em;
}
.sjr-icon-twitter:hover:before {
	background-color: #F79331;
}
.sjr-icon-twitter span {
	display: none;
}

.sjr-icon-facebook:before {
	content: "\ea8c";
	background-color: #3b5998;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	font-size: 1.2em;
	line-height: 1.4em;
}
.sjr-icon-facebook:hover:before {
	background-color: #F79331;
}
.sjr-icon-facebook span {
	display: none;
}
