#content {
	background-color: white;
	width: 900px;
	margin: auto;
	display: block;
	overflow: auto;
}

h1 {
	margin-left: 35px;
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 28px;
	color: #f5a322;
}

.content-animated {
	display: none;
	clear: both;
	padding-top: 20px;
	color: #808080;
	font-size: 14px;
	line-height: 22px;
	padding-bottom: 30px;
}

.content-tapit {
	display: none;
	clear: both;
	padding-top: 20px;
	color: #808080;
	font-size: 14px;
	line-height: 22px;
	padding-bottom: 30px;
}

.content-assessments {
	display: none;
	clear: both;
	padding-top: 20px;
	color: #808080;
	font-size: 14px;
	line-height: 22px;
	padding-bottom: 20px;
}

.content-section {
	padding-top: 40px;
	margin-left: 35px;
	margin-right: 35px;
	clear: both;
	overflow: auto;
	display: block;
	padding-bottom: 35px;
}

.content-section-title {
	margin-bottom: 10px;
	color: #2898CD;
	width: 612px;
	font-size: 20px;
	font-weight: bold;
}

.content-section-description {
	padding-top: 20px;
	color: #808080;
	font-size: 14px;
	line-height: 22px;
	padding-bottom: 20px;
	font-size: 14px;
	line-height: 22px;
}

.content-section-item {
	padding-top: 20px;
	display: block;
	overflow: auto;
	padding-bottom: 30px;
	clear: both;

}

.content-section-item-title {
	padding-bottom: 20px;
	font-weight: 900;
	color: #808080;
}

.content-section-item-thumbnail {
	float: right;
}

.content-section-item-thumbnail-image {
	width: 244px;
	height: 244px;
}

.content-section-item-description {
	float: left;
	padding-right: 20px;
	width: 396px;
	color: #808080;
	font-size: 14px;
	line-height: 22px;
}

.content-section-item-link {
	float: left;
	padding-top: 20px;
	padding-right: 20px;
	width: 396px;
}

a:link {
	color: #2898CD;
}

a:visited {
	color: #2898CD;
}