$text-color: #808080;

p {
    margin-right: 35px;
    margin-left: 35px;
    line-height: 22px;
    color: $text-color;
    font-size: 15px;
}

.donation-block {
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

#donate-button {
    display: inline-block;
    vertical-align: bottom;
}
