p {
	margin-left: 35px;
	margin-right: 35px;
	color: #808080;
	line-height: 22px;
	font-size: 15px;
}

.donation-block {
	text-align: center;
	display: block;
	margin-bottom: 20px;
}

#donate-button {
	display: inline-block;
	vertical-align: bottom;
}
