$key-border-color: #e5e5e5;
$key-header-color: #2898cd;
$key-description-color: #808080;
$key-header-background: $key-border-color;

#guide-key {
    float: left;
    margin-left: 10px;
    border: 1px solid $key-border-color;
    width: 225px;
    height: 472px;
}

#key-header {
    background-color: $key-header-background;
    padding-top: 10px;
    padding-left: 10px;
    height: 31px;
    color: $key-header-color;
    font-size: 12pt;
}

#key-description {
    margin-right: 5px;
    margin-left: 10px;
    padding-top: 10px;
    line-height: 24px;
    color: $key-description-color;
    font-size: 10pt;
}
