#guide-key {
	width: 225px;
	height: 472px;
	float: left;
	margin-left: 10px;
	border: 1px solid #e5e5e5;
}

#key-header {
	font-size: 12pt;
	padding-top: 10px;
	padding-left: 10px;
	height: 31px;
	color: #2898CD;
	background-color: #e5e5e5;
}

#key-description {
	color: #808080;
	line-height: 24px;
	padding-top: 10px;
	font-size: 10pt;
	margin-right: 5px;
	margin-left: 10px;
}
