/* CSS Document */

h2 {
    /* bold, underline, font-size a little bit bigger*/
    font-weight: bold;
    font-size: 200%;
    text-align: left;
}

h3 {
    /* bold, underline, font-size a little bit bigger*/
    font-weight: bold;
    font-size: 110%;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.left-align {
    text-align: left;
}

.full-extend {
    width: 100%;
}

ul.bullet-list {
    list-style-type: disc;
}

#footer-print {
    display: none;
}

html img.description-img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

div.print-br {
    display: none;
}

p.dot-separater {
    text-align: center;
    width: 100%;
    color: #21A4DC;
    margin: 0 auto;
}

.animated_genres table ul li {
    text-align: left;
}

.animated_genres table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.animated_genres table td {
    padding: 4%;
}

/* Adjust large screenshot dimensions*/
.counting_and_cardinality img.screenshot{
	width:100%;
	height:auto;
}

/* Text of list items within tables are left aligned */
.counting_and_cardinality table ul li {
	text-align: left;
}

/*  */
.counting_and_cardinality table{
	width:100%;
	margin:0 auto;
	text-align: center;
	page-break-inside:auto;
}

/*  */
.counting_and_cardinality table td{
	padding:4%;
}

/*  */
.counting_and_cardinality table tr{
	padding:4%;
	page-break-inside:avoid; 
	page-break-after:auto;
}

.naming_uppercase_and_lowercase_letters img{
  max-width:70%;
  height:auto;
}

/*  */
.naming_uppercase_and_lowercase_letters table{
  width:100%;
  margin:0 auto;
  text-align: center;
  page-break-inside:auto;
}

/*  */
.naming_uppercase_and_lowercase_letters table td{
  padding:4%;
}

/*  */
.naming_uppercase_and_lowercase_letters table tr{
  padding:4%;
  page-break-inside:avoid; 
  page-break-after:auto;
}

.naming_uppercase_and_lowercase_letters_part2 img{
  max-width:70%;
  height:auto;
}

/*  */
.naming_uppercase_and_lowercase_letters_part2 table{
  width:100%;
  margin:0 auto;
  text-align: center;
  page-break-inside:auto;
}

/*  */
.naming_uppercase_and_lowercase_letters_part2 table td{
  padding:4%;
}

/*  */
.naming_uppercase_and_lowercase_letters_part2 table tr{
  padding:4%;
  page-break-inside:avoid; 
  page-break-after:auto;
}

.student_answer_sheet img{
  width: 70%;
}

.student_answer_sheet img.small-image{
  width:30%;
}

.activity-title{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  width: 100%;
  text-align: center;
  letter-spacing: 0.5px;
  color:#f49d25;
}

.activities-content-section{
  margin-left:70px;
  margin-right:70px;
}

.activity-preview{
  display:flex;
  width:100%;
  justify-content: space-around;
  margin:10px;
}

.activity-step{
  border:1px solid #3099C9;
  margin-top:30px;
}

.activity-step-title{
  background-color:#3099C9; 
  color:white; 
  font-size:1.5em; 
  font-weight:bold;
  padding:10px;
}

.activity-step-description{
  
}

.activity-step-description-line{
  margin-top:30px;
  margin-bottom:30px;
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
}

.center-align{
  justify-content: center;
  align-items: center;
}

.activity-step-description-component{
  
}

.activity-step-description-component p{
  text-align:center;
}

.activity-step-description-component p.dialogue{
  border:2px solid lightgray;
  border-radius:5px;
  padding:5px;
  display:inline;
}

.activity-step-description-component img{
  margin-left:auto;
  margin-right:auto;
  width:50%;
}

.center-align img{
  margin-right:2px;
}

.activity-step-description-component img.fill-line{
  width:80%;
}

.activity-button {
  min-width:25%;
}

.activity-button img{
  width:25%;
}

.activity-extension{
  margin-top:50px;
  margin-bottom:50px;
  border:2px solid #007199;
  display:flex;
  justify-content:flex-start;
  align-items:center;
}

.activity-extension-picture{
  background-color:#007199;
  padding:10px;
}

.activity-extension-text ul{
  margin:0;
}

.activity-extension-text ul li{
  padding:5px;
}

@media print {
    div#footer, div#header, div#content-nav {
        display: none;
    }
    .content-section-items-container {
        page-break-after: always;
      }
    /*.content-section-items-container.mod-page-break-after{
    page-break-after: always;
    }*/
    .mod-page-break-after {
      page-break-after: always;
    }
    .content-section-item-description {
      display: block;
    }
    body {
      background-color: white;
    }
    .activity-title {
      color:#f49d25;
      text-align: left;
      max-width:75%;
    }
    .activities-content-section {
      margin:0;
    }
    .activity-preview img {
      height:110px;
    }
    .activity-instructions {
      max-height:800px;
      width:100%;
      display:flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .activity-step {
      page-break-inside: avoid;
      width:47.5%;
      margin: 0 0 10px 0;
    }
    .activity-step-description-line {
      margin:5px;
    }
    .activity-step-description-component img {
      width:35%;
    }
    .activity-step-description-component img.fill-line {
      width:56%;
    }
    .activity-step-description-component p {
      margin:0;
    }
    .activity-step-description-component p.dialogue{
      margin-bottom:2px;
      font-size:10px;
    }
    .activity-extension {
      page-break-inside: avoid;
      margin:10px;
    }
    .activity-extension-picture img {
      width:50px;
    }
    .page-break {
      page-break-after: always;
    }
    .print-br {
        display: inline-block;
    }
    .no-print {
        display: none;
    }
    html footer#print-footer {
        display: flex;
        position: fixed;
        bottom: 0;
    }
    html header#print-header {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
    }
    .txlive-langselector {
        display: none;
    }
    @page {
      size:portrait;
      margin:1cm;
    }
}
