
		<!-- Wraps around all content -->
		<div class="reverse_engineering"> 
			<!-- Formats all content to be in content-section -->
			<div class="content-section content-subpage vertical-justify-print">

				<!-- Container for title Starts -->
				<div class="content-section-items-container">
					<div class="content-section-title">
						<p>
							Assessment:
              Reverse Engineering
						</p>

					</div>
				</div>
				<!-- Container for title Ends -->

				<div class="content-section-items-container">
					
					<div class="content-section-item-description">
						<p><strong>1 Overview</strong>
						</p>


						<p>This guide outlines how to assess students&rsquo; understanding and sequencing of the programming blocks in the ScratchJr iPad app. This assessment was originally designed to
						evaluate student learning in K‐2 classrooms after finishing the ScratchJr &ldquo;Animated Genres&rdquo; curriculum (http://www.scratchjr.org/teach.html#animated-genres), but the
						method could be adapted to any ScratchJr curriculum.</p>


						<p class="dot-separater "><strong>● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ●</strong>
						</p>


						<p><strong>2 Setting Up</strong>
						</p>


						<p>To conduct this assessment, you will need the following:</p>


						<ul>
							<li>an iPad with ScratchJr installed</li>


							<li>a projector, preferably with a &ldquo;blank screen&rdquo; capability, to display the iPad's screen</li>


							<li>each &ldquo;Solve‐It&rdquo; project pre-programmed on the iPad (see below)</li>


							<li>an answer sheet for each student</li>


							<li>stickers with ScratchJr blocks &ndash; You will need one page of stickers for each student. Print 
								the <a
					                href="/assessments/block-labels.png"
					                rel="noopener noreferrer"
					                target="_blank"
					            >
					                block sheet
					            </a> found on the ScratchJr website onto 1&rdquo; x 4&rdquo; address labels
							(Avery 5161). Then cut the sheet vertically so that every column of stickers is separated from the next column. Do not cut all the way down on the last 3 columns to avoid
							cutting the &ldquo;repeat&rdquo; block.</li>
						</ul>


						<p>Make sure you know how to run and re-run all of the Solve-Its in Presentation Mode (tap the &ldquo;Presentation Mode&rdquo; icon; tap the first page on the multi-page
						Solve-It to return to the first page.)</p>


						<p class="dot-separater"><strong>● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ●</strong>
						</p>


						<p><strong>3 The Assessment</strong>
						</p>


						<p>Students view a ScratchJr project as it runs in &ldquo;Presentation Mode&rdquo; (so that they cannot see the blocks), and they re-construct the project's scripts using
						stickers with pre-printed ScratchJr blocks.</p>


						<p>Before beginning the assessment, instruct the students as follows:</p>


						<ol>
							<li>Write your name clearly at the top of the page.</li>


							<li>We will show you a ScratchJr project, and you will reconstruct its scripts on a piece of paper using stickers that have ScratchJr programming blocks on them.</li>


							<li>You do not need to fill in numbers for the blocks or words for the &ldquo;Say&rdquo; block. Just use the sticker as it is, with a blank number or word.</li>


							<li>The time we give for each project will be limited. When we go on to the next project, turn your full attention to it or you will miss it. Do not try to finish up the
							previous project.</li>


							<li>All answers should be your own. Do not look at anyone else's paper.</li>
						</ol>


						<p>
						</p>


						<p class="dot-separater mod-page-break-after"><strong>● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ●</strong>
						</p>


						<p><strong>4 Running the Assessment</strong>
						</p>


						<p>For each of the seven &ldquo;Solve-Its&rdquo; do the following:</p>


						<ol>
							<li>Announce the number of the &ldquo;Solve-It&rdquo; so the students know where on the assessment paper to put their stickers.</li>


							<li>Display the project in &ldquo;Presentation Mode.&rdquo; Note: do not display the project on the projector's screen until you have put the project in Presentation Mode so
							that the students do not see the blocks that are being used in the project. If you have a projector with a &ldquo;blank&rdquo; button, you can blank the screen until you are
							ready. Otherwise, block the projector's lens from displaying on the screen or disconnect the iPad from the projector until you have put the project in Presentation Mode.</li>


							<li>Make sure the class sees how you start running the program (whether by tapping a character or by tapping the green flag).</li>


							<li>Re-run the program 2 more times so that the students get to see it run a total of three times.</li>
						</ol>


						<p>&lt;&gt;&middot; If the &ldquo;Solve‐It&rdquo; is rated &ldquo;Easy&rdquo; wait 30 seconds between each run. Wait 1 minute for
						&ldquo;Medium&rdquo; &ldquo;Solve-Its&rdquo; and 2 minutes for &ldquo;Hard &rdquo;Solve‐Its.&rdquo;</p>


						<p>&lt;&gt;&middot; If the program starts with a green flag, the characters will reset themselves to their original positions when the green
						flag is tapped. If the program starts by tapping a character, you will have to tap the green flag first in order to have all of the characters return to their original
						positions. Make sure the class knows that the green flag is not part of the program in that case-- it is only being used to return the characters to their starting
						positions&nbsp;(or, press the green flag while the iPad is not being projected on the screen).</p>


						<ol>
							<li>At the end of the assessment collect the handouts. Note: Students may omit the red &ldquo;End&rdquo; block except in the following cases:</li>
						</ol>


						<p>&lt;&gt;&middot; where it leads to another page</p>


						<p>&lt;&gt;&middot; where it causes the program to repeat infinitely.</p>


						<p class="dot-separater mod-page-break-after"><strong>● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ●</strong>
						</p>


						<p><strong>5 The Solve-It Programs</strong>
						</p>


						<p>1. <u>Disappear, Then Reappear</u></p>


						<p>This is a warm-up exercise to let the students become familiar with the &ldquo;Circle the Blocks&rdquo; activity. Review the answer when you are finished with this Solve-It
						to make sure the students understand what they need to do for the remaining Solve-Its.</p>


						<p>Difficulty: Easy</p>


						<p><img src="images/reverseengineering/image002.png"></p>


						<p>2. <u>Hop Twice, Wait, Hop Again</u></p>


						<p>Difficulty: Easy</p>


						<p><img src="images/reverseengineering/image004.png"></p>


						<p>3. <u>Turn Right and Left, Go Up and Down</u></p>


						<p>Difficulty: Medium</p>


						<p><img src="images/reverseengineering/image006.png"></p>


						<p>4. <u>Walk, then Run</u></p>


						<p>Note: manually move cat to left side of stage before you program it.</p>


						<p>Difficulty: Medium</p>


						<p><img src="images/reverseengineering/image008.png"></p>


						<p>5. <u>Grow, Shrink, then Go To Outer Space</u></p>


						<p>Difficulty: Medium</p>


						<p><img src="images/reverseengineering/image010.png"></p>

            <div class="page-break"></div>

						<p>6. <u>When Cat Touches Dog, Dog Disappears</u></p>


						<p>Difficulty: Hard</p>


						<p>Cat Program:</p>


						<p><img src="images/reverseengineering/image012.png"></p>


						<p>Dog Program:</p>


						<p><img src="images/reverseengineering/image014.png"></p>


						<p>7. <u>Cat says &ldquo;Do this&rdquo; and Dances; Dog says &ldquo;OK&rdquo; and Mimics the Dance</u></p>


						<p>Difficulty: Hard</p>


						<p>Cat Program:</p>


						<p><img src="images/reverseengineering/image016.png"></p>


						<p>Dog Program:</p>


						<p><img src="images/reverseengineering/image018.png"></p>
					</div>


				</div>

			</div>
			<!-- End of Content Section -->
		</div>
		<!-- End of div that contains the whole body -->
	