

		<!-- Wraps around all content -->
		<div class="student_answer_sheet"> 
			<!-- Formats all content to be in content-section -->
			<div class="content-section content-subpage vertical-justify-print">

				<!-- Container for title Starts -->
				<div class="content-section-items-container ">
					<div class="content-section-title">
						<p>
							ScratchJr Solve-It Answer Sheet
						</p>

					</div>
				</div>
				<!-- Container for title Ends -->

				<div>
					<!-- Add content here -->
					<div class="content-section-items-container">
						<div class="content-section-item-description">
							<p>Name of Student:_______________________________</p>
							<p><b>FIX THE PROGRAM</b></p>

							<p><b>Question 1:</b> Remove a block</p>
							<img src="images/answersheet/image001.png" class="small-image">
							<p>Circle a block to remove</p>
							<img src="images/answersheet/image002.png" class="small-image">
							<p><b>Question 2:</b>Add a block</p>
							<img src="images/answersheet/image003.png" class="small-image">
							<p>Circle a block to add</p>
							<img src="images/answersheet/image004.png">
							<p><b>Question 3:</b> Remove a block AND add a block</p>
							<img src="images/answersheet/image005.png" class="small-image">
							<p>Circle a block to remove</p>
							<img src="images/answersheet/image006.png" class="small-image">
							<p>Circle a block to add</p>
							<img src="images/answersheet/image007.png" class="small-image">
							<div class="page-break"></div>

							<p><b>Category: Circle the block</b></p>
							<p>Question 1:</p>
							<img src="images/answersheet/image008.png">
							<p>Question 2:</p>
							<img src="images/answersheet/image009.png">
							<p>Question 3:</p>
							<img src="images/answersheet/image010.png">
							<p><b>Category: Match the program</b></p>
							<p>Question 1:</p>
							<img src="images/answersheet/image011.png">
							<div class="page-break"></div>

							<p>Question 2:</p>
							<img src="images/answersheet/image012.png">
							<p>Querstion 3:</p>
							<img src="images/answersheet/image013.png">
							<div class="page-break"></div>
							<p><b>Category: Reverse Engineering</b></p>
							<p>Question 1:</p>
							<br><br><br><br><br><br><br><br><br><br><br><br>
							<p>Question 2:</p>
							<br><br><br><br><br><br><br><br><br><br><br><br>
							<p>Question 3:</p>
							<br><br><br><br><br><br><br><br><br><br><br><br>

						</div>
					</div>
				</div>
			</div>
			<!-- End of Content Section -->
		</div>
		<!-- End of div that contains the whole body -->
	