$text-color: #808080;

p {
    margin-right: 35px;
    margin-left: 35px;
    line-height: 22px;
    color: $text-color;
    font-size: 15px;
}

.connect-block {
    display: block;
    margin-bottom: 20px;
    padding: 25px;
    text-align: center;
}

#connect-button {
    display: inline-block;
    vertical-align: bottom;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
}
