$content-white: #fff;
$header-grey: #7f7f7f;
$header-orange:  #f5a322;
$text-grey: #808080;
$background-grey: #e9e9e9;

#content-text {
    float: left;
    background-color: $content-white;
    width: 49%;
}

#content-graphic {
    float: right;
    background-color: $content-white;
    width: 49%;
    text-align: center;
}

#content-graphic-item {
    width: 100%;
}

#content-header-first {
    margin-top: 24px;
    margin-left: 40px;
    color: $header-grey;
    font-size: 28px;
}

#content-header-second {
    margin-left: 40px;
    color: $header-orange;
    font-size: 20px;
}

#content-body {
    margin-top: 45px;
    margin-left: 40px;
    line-height: 22pt;
    color: $text-grey;
    font-family: "Lucida Grande", arial, sans-serif;
    font-size: 14pt;
}

/* Index page News */
.content-news {
    float: left;
    background-color: $content-white;
    width: 90%;
}

.content-news-header {
    margin-top: 24px;
    margin-left: 40px;
    color: $header-grey;
    font-size: 28px;
}

.content-news-body {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
    line-height: 22pt;
    color: $text-grey;
    font-family: "Lucida Grande", arial, sans-serif;
    font-size: 14pt;
}

#store-badges {
    margin-left: 0;
}

#store-badges img {
    float: left;
    margin: 10px 30px 10px 0;
    max-width: 135px;
    max-height: 40px;
}

#announcement-banner {
    background-color: $header-orange;
    height: 60px;
    text-align: center;
    line-height: 60px;
    letter-spacing: .5px;
    color: $content-white;
    font-size: 18px;
}

#discussion-container {
    clear: both;
    background-color: $background-grey;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

#discussion-container::after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
    content: ".";
}

#discussion-text {
    float: left;
    width: 50%;
}

#discussion-header {
    margin-top: 32px;
    margin-left: 40px;
    color: darken($header-grey, 10%);
    font-size: 20px;
}

#discussion-body {
    margin-top: 12px;
    margin-right: 25px;
    margin-left: 40px;
    line-height: 22pt;
    color: $text-grey;
    font-family: "Lucida Grande", arial, sans-serif;
    font-size: 14pt;
}

#disscussion-tweets {
    float: right;
    width: 50%;
}

.timeline-header {
    display: none;
}

#announcement-banner > a {
    border-bottom: 2px solid;
    text-decoration: none;
    color: $content-white;
}
