$link-blue: #2898cd;
$text-color: #808080;

h2 {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 35px;
    color: $link-blue;
    font-size: 24px;
}

p,
ul {
    margin-right: 35px;
    margin-left: 35px;
    line-height: 22px;
    color: $text-color;
    font-size: 15px;
}

.summary {
    padding: 12px;
    border: 1px solid #cccccc;
    background-color:#e0f5ff;
    font-style: italic;
}

.header-adjust {
    margin-right: 10px;
}

li {
    margin-bottom: 12px;
}
