$title-color: #2898cd;
$description-color: #808080;

/* content-section defaults */
.content-section-item-title {
    display: inline-block;
    padding-bottom: 10px;
    width: 60%;
    line-height: 18px;
    color: $title-color;
    font-size: 16px;
    font-weight: 900;
}

.content-section-item-thumbnail {
    width: 100%;
}

.content-section-item-thumbnail-image {
    border-radius: 20px;
    width: 100%;
}

.content-section-item-description {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    line-height: 22px;
    color: $description-color;
    font-size: 14px;
}

.content-section-full-item,
.content-section-half-item {
    display: inline-block;
    clear: both;
    padding-bottom: 30px;
    vertical-align: top;
    text-align: left;
}

.content-section-full-item {
    width: 100%;
}

.content-section-half-item {
    display: inline-block;
    clear: both;
    padding-bottom: 30px;
    width: 45%;
    vertical-align: top;
    text-align: left;
}

.content-section-items-container > .content-section-half-item:nth-child(even) {
    margin-left: 10%;
}

/* override styles for content-section-full-item */
.content-section-full-item .content-section-item-thumbnail {
    float: left;
    width: 37%;
}

.content-section-full-item .content-section-item-age,
.content-section-full-item .content-section-item-description,
.content-section-full-item .content-section-item-title {
    margin-left: 20px;
    width: 57%;
}
