.content-section-half-item {
	display: inline-block;
	padding-bottom: 30px;
	clear: both;
	width: 45%;
	text-align: left;
	vertical-align: top;
}

.content-section-items-container:after {
	display:inline-block;
	width:100%;
	content:'';
	height: 0;
}

.content-section-item-title {
	padding-bottom: 10px;
	font-weight: 900;
	color: #2898cd;
	width: 60%;
	display: inline-block;
}

.content-section-item-thumbnail {
	width:100%;
}

.content-section-item-thumbnail-image {
	width: 100%;
	border-radius: 20px;
}

.content-section-item-description {
	width: 100%;
	color: #808080;
	font-size: 14px;
	line-height: 22px;
	padding-bottom: 10px;
	padding-top: 10px;
	display: inline-block;
}
