$nav-text-color: #fff;
$nav-selected-color: #0a7199;

#header {
    margin: auto;
    width: 900px;
    height: 58px;
}

#header-logo {
    float: left;
    margin-top: 5.5px;
    margin-bottom: 5.5px;
    margin-left: 28px;
    width: 163px;
    height: 47px;
}

#header-nav {
    display: flex;
    position: relative;
    justify-content: space-around;
    float: right;
    width: 700px;
}

.header-nav-item-wrapper {
    flex: 1 0 auto;
}

.header-nav-item {
    padding-top: 23px;
    height: 35px;
    text-align: center;
    letter-spacing: 1px;
    color: $nav-text-color;
    font-family: "Lucida Grande", arial, sans-serif;
}

.header-nav-item-selected {
    background-color: $nav-selected-color;
}
