/* override slick defaults */
.slick-slider {
  margin-bottom: 0;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 900px;
    height: 507px;
  }
}

.slick-dots {
  z-index: 100;
  top: 425px;
  li button:before {
      color: white;
      opacity: .33;
      font-size: 15px;
  }
  li.slick-active button:before {
      opacity: .85;
      color: #f5a322;
  }
}
