/* Common styles for content across all pages - load before the individual pages css */
#content {
	background-color: white;
	width: 900px;
	margin: auto;
	display: block;
	overflow: auto;
}

.content-section {
	padding-top: 3px;
	margin-left: 70px;
	margin-right: 70px;
	clear: both;
	display: block;
	padding-bottom: 3px;
}

.content-section-title {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #999;
	font-size: 32px;
	width: 100%;
	text-align: center;
	letter-spacing: 0.5px;
}

.content-section-description {
	color: #808080;
	padding-bottom: 20px;
	font-size: 16px;
	line-height: 28px;
	width: 100%;
	text-align: center;
}

.content-section-items-container{
	width: 100%;
}

.content-section-items-container:after {
	display:inline-block;
	width:100%;
	content:'';
	height: 0;
}

.content-section-image {
	max-width: 100%;
}

.content-section-video {
	padding-top: 40px;
    text-align: center;
}
