#content {
	background-color: white;
	width: 900px;
	margin: auto;
	display: block;
	overflow: auto;
}

h1 {
	margin-left: 35px;
	margin-top: 20px;
	margin-bottom: 0px;
	font-size: 28px;
	color: #f5a322;
}
h2 {
	margin-left: 35px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 24px;
	color: #999;
}
p,ul {
	margin-left: 35px;
	margin-right: 35px;
	color: #808080;
	line-height: 22px;
	font-size: 15px;
}
