/* Guide 1 - Interface Guide */

/* 1. Save */

#interface-button-save {
	left: 134px;
	top: -54px;
}

#interface-vertical-line-save {
	height: 27px;
	top: -20px;
	left: 150px;
}

#interface-dot-save {
	left: 148px;
}

/* 2. Stage */

#interface-button-stage {
	left: 173px;
	top: -54px;
}

#interface-vertical-line-stage-1 {
	height: 175px;
	top: -20px;
	left: 189px;
}

#interface-horizontal-line-stage-1 {
	width: 8px;
	top: 155px;
	left: 189px;
}

#interface-vertical-line-stage-2 {
	height: 221px;
	top: 47px;
	left: 197px;
}

#interface-horizontal-line-stage-2 {
	width: 9px;
	top: 47px;
	left: 197px;
}

#interface-horizontal-line-stage-3 {
	width: 9px;
	top: 268px;
	left: 197px;
}

/* 3. Presentation Mode */

#interface-button-presentation-mode {
	left: 210px;
	top: -54px;
}

#interface-vertical-line-presentation-mode {
	height: 28px;
	top: -20px;
	left: 226px;
}

#interface-dot-presentation-mode {
	left: 224px;
}

/* 4. Grid */

#interface-button-grid {
	left: 248px;
	top: -54px;
}

#interface-vertical-line-grid {
	height: 28px;
	top: -20px;
	left: 264px;
}

#interface-dot-grid {
	left: 262px;
}

/* 5. Add Text */

#interface-button-add-text {
	left: 318px;
	top: -54px;
}

#interface-vertical-line-add-text {
	height: 27px;
	top: -20px;
	left: 335px;
}

#interface-dot-add-text {
	left: 333px;
}

/* 6. Change Background */

#interface-button-change-background {
	left: 359px;
	top: -54px;
}

#interface-vertical-line-change-background {
	height: 28px;
	top: -20px;
	left: 375px;
}

#interface-dot-change-background {
	left: 373px;
}

/* 7. Reset Characters */

#interface-button-reset-characters {
	left: 434px;
	top: -54px;
}

#interface-vertical-line-reset-characters {
	height: 26px;
	top: -20px;
	left: 450px;
}

#interface-dot-reset-characters {
    top: 6px;
	left: 448px;
}

/* 8. Green Flag */

#interface-button-green-flag {
	left: 475px;
	top: -54px;
}

#interface-vertical-line-green-flag {
	height: 26px;
	top: -20px;
	left: 491px;
}

#interface-dot-green-flag {
    top: 6px;
	left: 489px;
}

/* 9. Pages */

#interface-button-pages {
	left: 557px;
	top: -54px;
}

#interface-vertical-line-pages {
	height: 30px;
	top: -20px;
	left: 574px;
}

#interface-dot-pages {
	left: 572px;
}

/* 10. Project Information */

#interface-button-project-information {
	left: 622px;
	top: -54px;
}

#interface-vertical-line-project-information {
	height: 28px;
	top: -20px;
	left: 638px;
}

#interface-dot-project-information {
	left: 636px;
}

/* 16. Characters */

#interface-button-characters {
	left: 54px;
	top: 493px;
}

#interface-vertical-line-characters-1 {
	height: 13px;
	top: 230px;
	left: 27px;
}

#interface-vertical-line-characters-3 {
	height: 13px;
	top: 230px;
	left: 174px;
}

#interface-horizontal-line-characters {
	width: 148px;
	top: 243px;
	left: 27px;
}

#interface-vertical-line-characters-2 {
	height: 250px;
	top: 243px;
	left: 70px;
}

/* 15. Block Categories */

#interface-button-block-categories {
	left: 103px;
	top: 493px;
}

#interface-vertical-line-block-categories-1 {
	height: 10px;
	top: 332px;
	left: 27px;
}

#interface-vertical-line-block-categories-3 {
	height: 10px;
	top: 332px;
	left: 230px;
}

#interface-horizontal-line-block-categories {
	width: 204px;
	top: 342px;
	left: 27px;
}

#interface-vertical-line-block-categories-2 {
	height: 151px;
	top: 342px;
	left: 120px;
}

/* 14. Block Palette */

#interface-button-block-palette {
	left: 314px;
	top: 493px;
}

#interface-vertical-line-blocks-palette-1 {
	height: 10px;
	top: 332px;
	left: 242px;
}

#interface-vertical-line-blocks-palette-3 {
	height: 10px;
	top: 332px;
	left: 572px;
}

#interface-horizontal-line-blocks-palette {
	width: 331px;
	top: 342px;
	left: 242px;
}

#interface-vertical-line-blocks-palette-2 {
	height: 151px;
	top: 342px;
	left: 330px;
}

/* 13. Programming Area */

#interface-button-programming-area {
	left: 377px;
	top: 493px;
}

#interface-vertical-line-programming-area {
	height: 43px;
	top: 450px;
	left: 393px;
}

#interface-dot-programming-area {
	top: 450px;
	left: 391px;
}

/* 12. Programming Script */

#interface-button-programming-script {
	left: 439px;
	top: 493px;
}

#interface-vertical-line-programming-script-1 {
	height: 10px;
	top: 417px;
	left: 358px;
}

#interface-vertical-line-programming-script-3 {
	height: 10px;
	top: 417px;
	left: 533px;
}

#interface-horizontal-line-programming-script {
	width: 176px;
	top: 427px;
	left: 358px;
}

#interface-vertical-line-programming-script-2 {
	height: 66px;
	top: 427px;
	left: 455px;
}

/* 11. Undo Redo */

#interface-button-undo-redo {
	left: 599px;
	top: 493px;
}

#interface-vertical-line-undo-redo-1 {
	height: 10px;
	top: 327px;
	left: 588px;
}

#interface-vertical-line-undo-redo-3 {
	height: 10px;
	top: 327px;
	left: 645px;
}

#interface-horizontal-line-undo-redo {
	width: 58px;
	top: 337px;
	left: 588px;
}

#interface-vertical-line-undo-redo-2 {
	height: 156px;
	top: 337px;
	left: 615px;
}
