/* Sub-Menus */
.content-nav-item {
  width: 24.9% !important;
}

.interface-icon {
	background-image: url(/images/interface_b.svg);
	background-size: 100%;
}

.content-nav-item-selected  .interface-icon {
	background-image: url(/images/interface_o.svg);
}

.paint-icon {
	background-image: url(/images/paint_b.svg);
	background-size: 100%;
}

.content-nav-item-selected  .paint-icon {
	background-image: url(/images/paint_o.svg);
}

.blocks-icon {
	background-image: url(/images/blocks_b.svg);
	background-size: 100%;
}

.content-nav-item-selected  .blocks-icon {
	background-image: url(/images/blocks_o.svg);
}

.tips-icon {
	background-image: url(/images/videos_b.svg);
	background-size: 100%;
}

.content-nav-item-selected  .tips-icon {
	background-image: url(/images/videos_o.svg);
}


#tips-nav .content-nav-item-description {
	width: 40%;
}
.content-nav-item-description {
	float: left;
	line-height: 20px;
	margin-left: 15px;
	font-size: 12pt;
	width: 47%;
	margin-top: 25px;
}

.download-guide-link {
	position: relative;
	top: 10px;
	left: 680px;
	z-index: 1000;
}

/* Guide Elements */

.content-section.learn-interface,
.content-section.learn-paint,
.content-section.learn-blocks {
	margin: 0;
	display: inline;
}

#ipad-project-view-wrapper {
	position: relative;
}

.learn-tab {
	display: none;
}

.learn-tab-selected {
	display: inline;
}


.learn-interface:after, .learn-paint:after
 {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 75px;
}

.interface-container,
.paint-container {
	margin-top: 75px;
	position: relative;
}


.ipad-project-view {
	margin-left: 21px;
	width: 629px;
	float: left;
}

/* Guide 3 - Block Descriptions */

#blocks-section {
    margin-left: 0;
    margin-right: 0;
}

.block-category-header {
	color: white;
	text-transform: uppercase;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 24px;
	width: 220px;
	margin-top: 20px;
}

#yellow-block-category-header {
	background-color: #F4E025;
}

#blue-block-category-header {
	background-color: #4A8CE3;
}

#purple-block-category-header {
	background-color: #CD7CD1;
}

#green-block-category-header {
	background-color: #48CC7E;
}

#orange-block-category-header {
	background-color: #FFB254;
}

#red-block-category-header {
	background-color: #EA2424;
}

.block-category-header-line {
	margin-left: 24px;
	margin-right: 24px;
	height: 2px;
}

#yellow-block-category-header-line {
	background-color: #F4E025;
}

#blue-block-category-header-line {
	background-color: #4A8CE3;
}

#purple-block-category-header-line {
	background-color: #CD7CD1;
}

#green-block-category-header-line {
	background-color: #48CC7E;
}

#orange-block-category-header-line {
	background-color: #FFB254;
}

#red-block-category-header-line {
	background-color: #EA2424;
}


.block-wrapper {
	margin-top: 18px;
	margin-left: 3%;
	margin-right: 3%;
	height: 140px;
	color: #808080;
    float: left;
	width: 40%;
	padding-bottom: 10px;
}

.blocks-category-container > .block-wrapper:nth-child(even) {
    margin-left: 11%;
}
.blocks-category-container:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 5px;
}
.block-image-wrapper {
	float: left;
}

.block-title {
	border-bottom: solid 1px #808080;
	padding-bottom: 10px;
}

.block-image {
	margin-top: 20px;
	margin-left: 10px;
	width: 75px;
}

.block-image-repeat {
	margin-top: 20px;
	margin-left: 10px;
	width: 140px;
}

.block-description {
	float: right;
	margin-top: 20px;
	width: 55%;
	font-size: 12px;
	line-height: 20px;
}

.block-description-repeat {
	float: right;
	margin-top: 20px;
	width: 145px;
	font-size: 12px;
	line-height: 20px;
}

.download-icon {
  margin-right: 5px;
  color: #2898CD;
  font-weight: bolder;
}

#download-guide-link {
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  font-size: 14px;
  color: #2898CD;
  text-decoration: none;
}

/* End Guide 3 - Block Descriptions */
