$category-header: #fff;
$category-yellow: #f4e025;
$category-blue: #4a8ce3;
$category-green: #48cc7e;
$category-purple: #cd7cd1;
$category-orange: #ffb254;
$category-red: #ea2424;
$text-color: #808080;
$link-blue: #2898cd;

/* Sub-Menus */
.content-nav-item {
    width: 24.9% !important;
}

.interface-icon {
    background-image: url("/images/interface_b.svg");
    background-size: 100%;
}

.content-nav-item-selected  .interface-icon {
    background-image: url("/images/interface_o.svg");
}

.paint-icon {
    background-image: url("/images/paint_b.svg");
    background-size: 100%;
}

.content-nav-item-selected  .paint-icon {
    background-image: url("/images/paint_o.svg");
}

.blocks-icon {
    background-image: url("/images/blocks_b.svg");
    background-size: 100%;
}

.content-nav-item-selected  .blocks-icon {
    background-image: url("/images/blocks_o.svg");
}

.tips-icon {
    background-image: url("/images/videos_b.svg");
    background-size: 100%;
}

.content-nav-item-selected  .tips-icon {
    background-image: url("/images/videos_o.svg");
}


#tips-nav .content-nav-item-description {
    width: 40%;
}
.content-nav-item-description {
    float: left;
    margin-top: 25px;
    margin-left: 15px;
    width: 47%;
    line-height: 20px;
    font-size: 12pt;
}

.download-guide-link {
    position: relative;
    top: 10px;
    left: 680px;
    z-index: 1000;
}

/* Guide Elements */

.content-section.learn-interface,
.content-section.learn-paint,
.content-section.learn-blocks {
    display: inline;
    margin: 0;
}

#ipad-project-view-wrapper {
    position: relative;
}

.learn-tab {
    display: none;
}

.learn-tab-selected {
    display: inline;
}


.learn-interface:after, .learn-paint:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 75px;
    line-height: 0;
    content: ".";
}

.interface-container,
.paint-container {
    position: relative;
    margin-top: 75px;
}


.ipad-project-view {
    float: left;
    margin-left: 21px;
    width: 629px;
}

/* Guide 3 - Block Descriptions */

#blocks-section {
    margin-right: 0;
    margin-left: 0;
}

.block-category-header {
    margin-top: 20px;
    margin-left: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    width: 30%;
    text-transform: uppercase;
    color: $category-header;
}

#yellow-block-category-header {
    background-color: $category-yellow;
}

#blue-block-category-header {
    background-color: $category-blue;
}

#purple-block-category-header {
    background-color: $category-purple;
}

#green-block-category-header {
    background-color: $category-green;
}

#orange-block-category-header {
    background-color: $category-orange;
}

#red-block-category-header {
    background-color: $category-red;
}

.block-category-header-line {
    margin-right: 24px;
    margin-left: 24px;
    height: 2px;
}

#yellow-block-category-header-line {
    background-color: $category-yellow;
}

#blue-block-category-header-line {
    background-color: $category-blue;
}

#purple-block-category-header-line {
    background-color: $category-purple;
}

#green-block-category-header-line {
    background-color: $category-green;
}

#orange-block-category-header-line {
    background-color: $category-orange;
}

#red-block-category-header-line {
    background-color: $category-red;
}

.block-wrapper {
    float: left;
    margin-top: 18px;
    margin-right: 3%;
    margin-left: 3%;
    padding-bottom: 10px;
    width: 40%;
    height: 140px;
    color: $text-color;
}

.blocks-category-container > .block-wrapper:nth-child(even) {
    margin-left: 11%;
}

.blocks-category-container:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 5px;
    line-height: 0;
    content: "";
}

.block-image-wrapper {
    float: left;
}

.block-title {
    border-bottom: solid 1px $text-color;
    padding-bottom: 10px;
}

.block-image {
    margin-top: 20px;
    margin-left: 10px;
    width: 75px;
}

.block-image-repeat {
    margin-top: 20px;
    margin-left: 10px;
    width: 140px;
}

.block-description {
    float: right;
    margin-top: 20px;
    width: 55%;
    line-height: 20px;
    font-size: 12px;
}

.block-description-repeat {
    float: right;
    margin-top: 20px;
    width: 145px;
    line-height: 20px;
    font-size: 12px;
}

.download-icon {
    margin-right: 5px;
    color: $link-blue;
    font-weight: bolder;
}

#download-guide-link {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    text-decoration: none;
    color: $link-blue;
    font-size: 14px;
}

/* End Guide 3 - Block Descriptions */
