.naming_uppercase_and_lowercase_letters_part2 img{
  max-width:70%;
  height:auto;
}

/*  */
.naming_uppercase_and_lowercase_letters_part2 table{
  width:100%;
  margin:0 auto;
  text-align: center;
  page-break-inside:auto;
}

/*  */
.naming_uppercase_and_lowercase_letters_part2 table td{
  padding:4%;
}

/*  */
.naming_uppercase_and_lowercase_letters_part2 table tr{
  padding:4%;
  page-break-inside:avoid; 
  page-break-after:auto;
}