
<!-- Formats all content to be in content-section -->
<div class="activities-content-section content-subpage vertical-justify-print">

	<!-- Container for title Starts -->
	<div>
		<div class="activity-title">
			<p>
				Can I Make My Characters Dance?
			</p>
		</div>
		<div class="activity-preview">
			<img src="images/dance_project_picture.png">
		</div>
	</div>
	<!-- Container for title Ends -->

	<div class="activity-instructions">
		<!-- Step 1 -->
		<div class="activity-step">
			<div class="activity-step-title">
				1. Choose Background
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/new_background.png">
						<p>New Background</p>
					</div>
					<div class="activity-step-description-component">
						<img src="images/theatre_background.png">
					</div>
					<div class="activity-button activity-step-description-component">
						<img src="images/ok_button.png">
						<p>OK</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Step 2 -->
		<div class="activity-step">
			<div class="activity-step-title">
				2. Choose Characters
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/new_character.png">
						<p>New Character</p>
					</div>
					<div class="activity-step-description-component">
						<img src="images/teen_salmon_shirt.png">
					</div>
					<div class="activity-button activity-step-description-component">
						<img src="images/ok_button.png">
						<p>OK</p>
					</div>
				</div>
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/new_character.png">
						<p>New Character</p>
					</div>
					<div class="activity-step-description-component">
						<img src="images/teen_blue_shirt.png">
					</div>
					<div class="activity-button activity-step-description-component">
						<img src="images/ok_button.png">
						<p>OK</p>
					</div>
				</div>
				<div class="activity-step-description-line">
					<div class="activity-step-description-component" tx-content="translate_urls">
						<img src="/images/delete_sprite.png">
						<p>Delete the cat (press and hold)</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Step 3 -->
		<div class="activity-step">
			<div class="activity-step-title">
				3. Move Characters to Start Places
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/dancer_placement.png">
						<p>Position the characters by dragging them from the center of the screen</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Step 4 -->
		<div class="activity-step">
			<div class="activity-step-title">
				4. Make Programs
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img class="fill-line" src="images/teen_salmon_shirt_script.png">
					</div>
				</div>
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img class="fill-line" src="images/teen_blue_shirt_script.png">
					</div>
				</div>
			</div>
		</div>
	</div>

		<!-- Extension -->
	<div class="activity-extension">
		<div class="activity-extension-picture">
			<img src="images/scratchjr_cat.png">
		</div>
		<div class="activity-extension-text">
			<ul>
				<li>Can you make other things happen when one character touches another? Try the disappear block!</li>
				<li>How can you use the speed block to change how the characters move?</li>
			</ul>
		</div>
	</div>

</div>
<!-- End of Content Section -->
