
<!-- Formats all content to be in content-section -->
<div class="activities-content-section content-subpage vertical-justify-print">

	<!-- Container for title Starts -->
	<div>
		<div class="activity-title">
			<p>
				Can I Make My Car Drive Across the City?
			</p>
		</div>
		<div class="activity-preview">
			<img src="images/city_project_picture.png">
		</div>
	</div>
	<!-- Container for title Ends -->

	<div class="activity-instructions">
		<!-- Step 1 -->
		<div class="activity-step">
			<div class="activity-step-title">
				1. Choose Background
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/new_background.png">
						<p>New Background</p>
					</div>
					<div class="activity-step-description-component">
						<img src="images/city_background.png">
					</div>
					<div class="activity-button activity-button activity-step-description-component">
						<img src="images/ok_button.png">
						<p>OK</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Step 2 -->
		<div class="activity-step">
			<div class="activity-step-title">
				2. Choose Character
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/new_character.png">
						<p>New Character</p>
					</div>
					<div class="activity-step-description-component">
						<img src="images/car_sprite.png">
					</div>
					<div class="activity-button activity-step-description-component">
						<img src="images/ok_button.png">
						<p>OK</p>
					</div>
				</div>
				<div class="activity-step-description-line">
					<div class="activity-step-description-component" tx-content="translate_urls">
						<img src="/images/delete_sprite.png">
						<p>Delete the cat (press and hold)</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Step 3 -->
		<div class="activity-step">
			<div class="activity-step-title">
				3. Resize Character and Move to Start Place
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/shrink_script.png">
						<p>Shrink</p>
					</div>
					<div class="activity-step-description-component">
						<img src="images/car_placement.png">
						<p>Drag the car to the bottom corner of the screen</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Step 4 -->
		<div class="activity-step">
			<div class="activity-step-title">
				4. Make Programs
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img class="fill-line" src="images/car_script.png">
					</div>
				</div>
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/grid_toggle.png">
						<p>Grid On/Off</p>
					</div>
					<div class="activity-step-description-component">
						<img src="images/city_background_with_grid.png">
						<p>Use the grid to calculate how many blocks the car should move</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Extension -->
	<div class="activity-extension">
		<div class="activity-extension-picture">
			<img src="images/scratchjr_cat.png">
		</div>
		<div class="activity-extension-text">
			<ul>
				<li>How would you make the car go only halfway across the screen?</li>
				<li>What would happen if a wizard, a dragon, or an elephant appeared on the sidewalk?</li>
			</ul>
		</div>
	</div>

</div>
<!-- End of Content Section -->
