
<!-- Formats all content to be in content-section -->
<div class="activities-content-section content-subpage vertical-justify-print">

	<!-- Container for title Starts -->
	<div>
		<div class="activity-title">
			<p>
				Can I Make My Characters Greet Each Other?
			</p>
		</div>
		<div class="activity-preview" tx-content="translate_urls">
			<img src="../../../../static/images/greet_project_picture.png">
		</div>
	</div>
	<!-- Container for title Ends -->

	<div class="activity-instructions">
		<!-- Step 1 -->
		<div class="activity-step">
			<div class="activity-step-title">
				1. Choose Background
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/new_background.png">
						<p>New Background</p>
					</div>
					<div class="activity-step-description-component">
						<img src="images/city_background.png">
					</div>
					<div class="activity-button activity-step-description-component">
						<img src="images/ok_button.png">
						<p>OK</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Step 2 -->
		<div class="activity-step">
			<div class="activity-step-title">
				2. Choose Additional Character
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/new_character.png">
						<p>New Character</p>
					</div>
					<div class="activity-step-description-component">
						<img src="images/dog_sprite.png">
					</div>
					<div class="activity-button activity-step-description-component">
						<img src="images/ok_button.png">
						<p>OK</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Step 3 -->
		<div class="activity-step">
			<div class="activity-step-title">
				3. Move Characters to Start Places
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/greet_placement.png">
						<p>Position the characters by dragging them from the center of the screen</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Step 4 -->
		<div class="activity-step">
			<div class="activity-step-title">
				4. Make Programs
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img class="fill-line" src="images/cat_script_2.png">
					</div>
				</div>
				<div class="activity-step-description-line center-align">
					<div class="activity-step-description-component">
						<img src="images/speech_script.png">
					</div>
					<div class="activity-step-description-component">
						<p class="dialogue">Oh, hi dog!</p>
					</div>
				</div>
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img class="fill-line" src="images/dog_script_2.png">
					</div>
				</div>
				<div class="activity-step-description-line center-align">
					<div class="activity-step-description-component">
						<img src="images/speech_script.png">
					</div>
					<div class="activity-step-description-component">
						<p class="dialogue">Woof! Woof!</p>
					</div>
				</div>
			</div>
		</div>
	</div>

		<!-- Extension -->
	<div class="activity-extension">
		<div class="activity-extension-picture">
			<img src="images/scratchjr_cat.png">
		</div>
		<div class="activity-extension-text">
			<ul>
				<li>Why do you think the program repeats forever?</li>
				<li>What could you change to have the program not repeat forever?</li>
			</ul>
		</div>
	</div>

</div>
<!-- End of Content Section -->
