
<!-- Formats all content to be in content-section -->
<div class="activities-content-section content-subpage vertical-justify-print">

	<!-- Container for title Starts -->
	<div>
		<div class="activity-title">
			<p>
				Can I Make the Moon Rise after the Sun Sets?
			</p>
		</div>
		<div class="activity-preview">
			<img src="images/moonrise_project_picture.png">
		</div>
	</div>
	<!-- Container for title Ends -->

	<div class="activity-instructions">
		<!-- Step 1 -->
		<div class="activity-step">
			<div class="activity-step-title">
				1. Choose Project
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/sunset_choose_project.png">
						<p>Sunset</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Step 2 -->
		<div class="activity-step">
			<div class="activity-step-title">
				2. Add a New Page and add Moon Character to New Page
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/new_page.png">
						<p>New Page</p>
					</div>
				</div>
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/new_character.png">
						<p>New Character</p>
					</div>
					<div class="activity-step-description-component">
						<img src="images/moon_sprite.png">
					</div>
					<div class="activity-button activity-step-description-component">
						<img src="images/ok_button.png">
						<p>OK</p>
					</div>
				</div>
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="../../../../static/images/delete_sprite.png">
						<p>Delete the cat (press and hold)</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Step 3 -->
		<div class="activity-step">
			<div class="activity-step-title">
				3. Choose Background; Edit to Remove Background’s Moon
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/new_background.png">
						<p>New Background</p>
					</div>
					<div class="activity-step-description-component">
						<img src="images/night_background.png">
					</div>
					<div class="activity-button activity-step-description-component">
						<img src="images/edit_image.png">
						<p>Edit</p>
					</div>
				</div>
				<div class="activity-step-description-line">
					<div class="activity-button activity-step-description-component">
						<img src="images/cut_image.png">
						<p>Cut</p>
					</div>
					<div class="activity-step-description-component">
						<img src="images/moon_scene_edit.png">
						<p>Select the “Cut” tool, and then tap the moon to delete it</p>
					</div>
					<div class="activity-button activity-step-description-component">
						<img src="images/ok_button.png">
						<p>OK</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Step 4 -->
		<div class="activity-step">
			<div class="activity-step-title">
				4. Change Program on Page 1; Make Program on Page 2
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img class="fill-line" src="images/sun_script_2.png">
					</div>
				</div>
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img class="fill-line" src="images/moon_script.png">
					</div>
				</div>
			</div>
		</div>
	</div>

		<!-- Extension -->
	<div class="activity-extension">
		<div class="activity-extension-picture">
			<img src="images/scratchjr_cat.png">
		</div>
		<div class="activity-extension-text">
			<ul>
				<li>Now that you know how to make new pages, can you make a project that has 3 pages, or 4 pages?</li>
				<li>What happens when you drag a character from one page to another?</li>
			</ul>
		</div>
	</div>

</div>
<!-- End of Content Section -->
