
<!-- Formats all content to be in content-section -->
<div class="activities-content-section content-subpage vertical-justify-print">

	<!-- Container for title Starts -->
	<div>
		<div class="activity-title">
			<p>
				Can I Make my Characters Run a Race?
			</p>
		</div>
		<div class="activity-preview">
			<img src="images/race_project_picture.png">
		</div>
	</div>
	<!-- Container for title Ends -->

	<div class="activity-instructions">
		<!-- Step 1 -->
		<div class="activity-step">
			<div class="activity-step-title">
				1. Choose Background
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/new_background.png">
						<p>New Background</p>
					</div>
					<div class="activity-step-description-component">
						<img src="images/farm_background.png">
					</div>
					<div class="activity-button activity-step-description-component">
						<img src="images/ok_button.png">
						<p>OK</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Step 2 -->
		<div class="activity-step">
			<div class="activity-step-title">
				2. Choose Characters
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/new_character.png">
						<p>New Character</p>
					</div>
					<div class="activity-step-description-component">
						<img src="images/pig_sprite.png">
					</div>
					<div class="activity-button activity-step-description-component">
						<img src="images/ok_button.png">
						<p>OK</p>
					</div>
				</div>
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/new_character.png">
						<p>New Character</p>
					</div>
					<div class="activity-step-description-component">
						<img src="images/dog_sprite.png">
					</div>
					<div class="activity-button activity-step-description-component">
						<img src="images/ok_button.png">
						<p>OK</p>
					</div>
				</div>
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/new_character.png">
						<p>New Character</p>
					</div>
					<div class="activity-step-description-component">
						<img src="images/rabbit_sprite.png">
					</div>
					<div class="activity-button activity-step-description-component">
						<img src="images/ok_button.png">
						<p>OK</p>
					</div>
				</div>
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="../../../../static/images/delete_sprite.png">
						<p>Delete the cat (press and hold)</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Step 3 -->
		<div class="activity-step">
			<div class="activity-step-title">
				3. Move Characters to Start Places
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img src="images/animal_placement.png">
						<p>Position the characters by dragging them from the center of the screen</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Step 4 -->
		<div class="activity-step">
			<div class="activity-step-title">
				4. Make Programs
			</div>
			<div class="activity-step-description">
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img class="fill-line" src="images/pig_script.png">
						<p>Slow</p>
					</div>
				</div>
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img class="fill-line" src="images/dog_script.png">
						<p style="padding-left:35%">Fast</p>
					</div>
				</div>
				<div class="activity-step-description-line">
					<div class="activity-step-description-component">
						<img class="fill-line" src="images/rabbit_script.png">
						<p style="padding-left:20%">Medium</p>
					</div>
				</div>
			</div>
		</div>
	</div>

		<!-- Extension -->
	<div class="activity-extension">
		<div class="activity-extension-picture">
			<img src="images/scratchjr_cat.png">
		</div>
		<div class="activity-extension-text">
			<ul>
				<li>What other programs can you make with a speed block?</li>
				<li>If you can't find the characters or background that you're looking for, paint your own!</li>
			</ul>
		</div>
	</div>

</div>
<!-- End of Content Section -->
